*.bak
*.bak.*
.aws
.azure
.bash_history
.bun
.bundle
.cache
.circleci
.clickhouse*
.codeium
.config/.bzero.lock
.config/bastionzero-logger-nodejs/
.config/bastionzero-zli-nodejs/
.config/configstore
.config/daemon-6.36.16
.config/dconf/
.config/emacs
.config/fish/fish_variables
.config/fish/fishd.*
.config/github-copilot/
.config/htop/
.config/llvmenv/
.config/mise/
.config/nushell/
.config/pulse/
.config/warp-terminal/
.docker
.dotfiles
.erlang.cookie
.fly
.gem
.gnupg
.hex
.iex_history
.lesshst
.local
.motd_shown
.npm
.opam
.opencode
.password-store
.pgpass
.psql_history
.rustup
.saml2aws
.ssh
.sudo_as_admin_successful
.supabase
.viminfo
.wget-hsts
.windsurf-server
.zapierrc
__MACOSX/
aws/
clickhouse
data/
elixir-ls
expert/
go*
jank/
lexical
lua-language-server/
metadata/
personal/
pike*
quicklisp/
snap
src/
status
store/
test
uuid
zed
zls
