.aws
.azure
.bash_history
.bun
.bundle
.cache
.circleci
.clickhouse*
.codeium
.config/configstore
.config/fish/fish_variables
.docker
.dotfiles
.erlang.cookie
.fly
.gem
.gnupg
.hex
.iex_history
.lesshst
.local
.motd_shown
.npm
.opam
.opencode
.password-store
.pgpass
.psql_history
.saml2aws
.ssh
.sudo_as_admin_successful
.supabase
.viminfo
.wget-hsts
.windsurf-server
.zapierrc
__MACOSX/
clickhouse
data/
elixir-ls
go*
lexical
lua-language-server/
metadata/
personal/
pike*
snap
src/
status
store/
test
uuid
zed
zls
*.bak.*
*.bak
